.companyName {
  color: darkblue;
  font-weight: bold;
  margin-right: 0.5rem;
  font-size: 0.9rem;
}

.companySlogan {
  color: gray;
  border-left: 1px solid gray;
  padding-left: 0.5rem;
  font-size: 0.9rem;
}

.companyLogo {
  width: 75px;
  height: 35px;
}

.jobType {
  text-align: center;
  width: 100px;
}

.jobTitle {
  font-size: 1.2rem;
}

.companyInfo {
  display: flex;
  justify-content: space-between;
}

.companyDetails {
  width: 200px;
}

.cardContainer {
  height: 140px;
  display: flex;
  align-items: center;
}
