.companyName {
  color: darkblue;
  font-weight: bold;
  margin-right: 0.5rem;
  font-size: 0.9rem;
}

.companySlogan {
  color: gray;
  border-left: 1px solid gray;
  padding-left: 0.5rem;
  font-size: 0.9rem;
}

@media only screen and (min-width: 991px) {
  .companyLogo {
    max-width: 10%;
    width: auto;
    height: auto;
  }
}

.jobType {
  width: 120px;
}

.jobTitle {
  font-size: 1.2rem;
}

.companyDetails {
  width: 200px;
}

.cardContainer {
  min-height: 140px;
}
