.search {
  width: 20%;
  height: 60px;
}

.tabSection {
  border-right: 1px solid black;
}
.searchButton {
  cursor: pointer;
}
@media only screen and (max-width: 992px) {
  .searchButton {
    margin-top: 1rem;
  }
}
